{:deps    {org.clojure/clojure {:mvn/version "1.10.1"}}

 :paths   ["src/cljc"]

 :aliases {:prod {:extra-paths ["src/clj" "resources" "target/uberjar" "target"]}
           ;:prod {}
           :dev  {:extra-paths ["src/clj" "src-dev/cljc" "resources" "src-dev/clj" "target/dev"]}}}
